@import './color';
@mixin subtitulo($cor){
    color: $cor; 
    text-align: center;
    padding-bottom: 10px;
    font-weight: 500;
}

@mixin fonts(){
    font-family: 'Roboto', sans-serif;
}

@mixin cards(){
    border-radius: 10px 10px 10px 10px;
    box-shadow: 3px 6px 10px #6b6565;
}
@mixin horizontalLine(){
    width: 70%;
    margin: 0 auto;
}


#aboutUs{
    width: 100%;
    margin-bottom: 5rem;
    margin-top: 4rem;

    div{
        width: 80%;
        box-shadow: 2px 2px 10px #b1afaf;
        border-radius: 10px;
        padding: 10px;
        text-align: center;
        margin-bottom: 2rem;
        font-family: 'Roboto', sans-serif;

        h2{
            margin-bottom: 10px;
            margin-top: 5px;
            color: #474646;
        }
        p{
        margin-bottom: 10px;
        }
    }

    .back{
        margin-top: 2rem;
        margin-left: 10px;
        margin-bottom: 2rem;
        a{
            text-decoration: none;
            color: $subtitle;
        }

    }
}

#news{
    width: 100%;
    margin-top: 3rem;
    margin-bottom: 1rem;
    font-family: 'Roboto', sans-serif;
    h2{
       @include subtitulo($subtitle);
    }
    hr{
        width: 70%;
        margin: 0 auto;
    }

    .news-container{
        width: 100%;
        height: 340px;
        overflow-x: auto;
        display: flex;
        align-items: center;
        margin-top: 0.4rem;
        
        .card{
            min-width: 220px;
            height: 300px;
            margin-left: 16px;
            border-radius: 10px 10px 10px 10px;
            box-shadow: 3px 6px 10px #6b6565;
            position: relative;
            transition: 1s;
            
            img{
                width: 100%;
                height: 100%;
                border-radius: inherit;
            }
            span{
                position: absolute;
                background-color: white;
                padding: 5px;
                right: 0;
                border-radius: 20px;
                top: 3px;
            }
                
        }

        .card:last-child{
            margin-right: 5px;
        }
    }

    .news-container::-webkit-scrollbar{
        // width: 0;
        display: none;
    }

    .filter{
        padding: 10px;
        width: 75%;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 0.9rem;
        border-radius: 20px;
        box-shadow: 1px 1px 10px #eceaea;

        button{
            background: none;
            border: none;
            font-size: 16px;
            font-weight: 500;
        }
        button:focus{
            color: $subtitle;
        }

    }
   
}

#lencoShow{
    width: 100%;
    margin-bottom: 3rem;
    transition: 1s;
    @include fonts();

    h2{
        @include subtitulo($subtitle)
    }

    hr{
        @include horizontalLine();
    }


    .lencos-container{
        margin-top: 0.4rem;
        display: flex;
        align-items: center;
        overflow-x: auto;
        width:100% ;
        height: 400px;
        // background-color: aqua;
    }

    .lencos-container::-webkit-scrollbar{
        display: none;
    }
    .lencos-card{
        min-width: 225px;
        height: 340px;
        margin-left: 16px;

        @include cards();

        figure{

            width: 100%;
            height: 100%;

            img{
                border-radius: 10px 10px 0 0;
                width: 100%;
                height: 65%;
            }

            figcaption{
                padding: 0 10px;
        
                h3{
                    margin-bottom: 10px;
                }
                
                span{
                    color: green;
                }

                .social{
                    margin-top: 5px;
                }
               
               
            }

        }
    }

    
}

#abanoShow{
    width: 100%;
    margin-bottom: 3rem;
    @include fonts();

    h2{
        @include subtitulo($subtitle)
    }

    hr{
        @include horizontalLine();
    }


    .abano-container{
        margin-top: 0.4rem;
        display: flex;
        align-items: center;
        overflow-x: auto;
        width:100% ;
        height: 400px;
        // background-color: aqua;
    }

    .abano-container::-webkit-scrollbar{
        display: none;
    }
    .abano-card{
        min-width: 225px;
        height: 340px;
        margin-left: 16px;

        @include cards();

        figure{

            width: 100%;
            height: 100%;

            img{
                border-radius: 10px 10px 0 0;
                width: 100%;
                height: 65%;
            }

            figcaption{
                padding: 0 10px;
        
                h3{
                    margin-bottom: 10px;
                }
                
                span{
                    color: green;
                }

                .social{
                    margin-top: 5px;
                }
               
               
            }

        }
    }

    
}

#perguntas{
    width: 100%;
    margin-bottom: 5rem;
    height: auto;
    @include fonts();

    h2{
        @include subtitulo();
        
    }

    

    // hr{
    //     @include horizontalLine();
    // }
    
    .perg-container{

        border: 1px solid #000;
        border-radius: 8px;
        height: auto;

        // .pergunta{
        //     // margin-bottom: 1rem;
        // }

        input[type="radio"]{
            display: none;
        }
 
        label{
            display: block;
            border-bottom: 1px solid #000;
            padding: 10px;
            background-color: rgb(161, 52, 70); 
            color: #fff;
        }

        .pergunta:first-child label{
            border-radius: 5px 5px 0 0;
            // background-color: #000;
        }

        .pergunta:last-child label{
            border-radius: 0 0 5px 5px;
            // background-color: #000;
        }

        .perg-content{
            border-bottom: 1px solid $subtitle;
            padding: 10px;
            display: none;

        }

        input:checked ~ .perg-content{
            display: block;
        }


    }
    
}