@import './color';

nav{
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 10px;
    width: 80%;
    height: 50px;
    background: linear-gradient(#EE8A9B, $primary, #EE8A9B);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 30px;

    a{
        text-decoration: none;
        color: inherit;
    }

}