/**  GENERAL STYLE CONFIGURATION***/
* {
  margin: 0;
  padding: 0;
}

.container {
  width: 90%;
  margin: 0 auto;
}

body {
  position: relative;
}

.preloader {
  background: #fff url(../img/preloader/preloader2.gif) no-repeat;
  background-position: center;
  background-position-y: center;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
}

header {
  width: 100%;
}

.logo-theme {
  box-shadow: 1px 1px 10px #ece9e9;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: white;
}
.logo-theme a {
  text-decoration: none;
  outline: none;
}
.logo-theme .logo-theme-content {
  height: 6vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-theme #theme {
  width: 40px;
  height: 40px;
  border: none;
  background-color: inherit;
}
.logo-theme h2 {
  color: #EE8A9B;
}

.header-content-container {
  width: 100%;
  height: 76vh;
  position: relative;
  margin-top: 3rem;
}
.header-content-container .hdr-main-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-content-container .hdr-main-content .hdr-content {
  width: 90%;
  height: 28%;
  text-align: center;
  font-family: "Roboto", sans-serif;
  margin-top: 3rem;
}
@keyframes greetings {
  from {
    transform: translateY(10px);
  }
  to {
    transform: translateY(0px);
  }
}
.header-content-container .hdr-main-content .hdr-content p {
  animation: greetings 2s ease-in-out;
  color: #EE8A9B;
  font-size: 18px;
  margin-bottom: 10px;
}
@keyframes presentation {
  from {
    font-size: 12px;
  }
  to {
    font-size: 25px;
  }
}
.header-content-container .hdr-main-content .hdr-content h1 {
  animation: presentation 2s ease-in-out;
  color: #363636;
  font-size: 25px;
  margin-bottom: 10px;
}
.header-content-container .hdr-main-content .hdr-content h1 span {
  color: #EE8A9B;
}
.header-content-container .hdr-main-content .banner {
  width: 70%;
  height: 68%;
  padding: 0;
  margin-top: 1rem;
  background: linear-gradient(rgb(255, 192, 203), rgba(255, 192, 203, 0));
  border-radius: 49% 49% 0 0;
  display: flex;
  justify-content: center;
  align-items: end;
}
.header-content-container .hdr-main-content .banner img {
  width: 85%;
  height: 96%;
  margin-bottom: -2px;
}
@keyframes estyle1 {
  0% {
    width: 68px;
  }
  50% {
    width: 0;
  }
  75% {
    width: 34px;
  }
  100% {
    width: 68px;
  }
}
.header-content-container .estyle1 {
  animation: estyle1 2s ease-in-out 3s;
  position: absolute;
  width: 68px;
  height: 30px;
  background-color: #FFC0CB;
  right: 0;
  top: 9rem;
  border-radius: 20px 0 0 20px;
}
.header-content-container .style-item {
  position: absolute;
  width: 145px;
  height: 6px;
  background-color: #FFC0CB;
  border-radius: 20px 20px 20px 20px;
  left: -28px;
  z-index: -1;
}
@keyframes barra1 {
  0% {
    width: 80px;
    top: 230px;
  }
  50% {
    top: 10.5rem;
    left: -38px;
    width: 200px;
  }
  100% {
    width: 145px;
  }
}
.header-content-container .estyle2 {
  animation: barra1 5s ease-in-out alternate infinite;
  transform: rotate(130deg);
  top: 12rem;
}
@keyframes barra2 {
  0% {
    width: 145px;
  }
  50% {
    width: 240px;
    top: 11.8rem;
    left: -45px;
  }
  100% {
    width: 80px;
    top: 16.5rem;
  }
}
.header-content-container .estyle3 {
  animation: barra2 5s ease-in-out alternate infinite;
  transform: rotate(130deg);
  top: 14rem;
}
@keyframes barra3 {
  from {
    width: 100px;
    top: 17.5rem;
  }
  to {
    width: 145px;
  }
}
.header-content-container .estyle4 {
  animation: barra3 4s ease-in-out alternate infinite;
  transform: rotate(130deg);
  top: 16rem;
}
.header-content-container .midia {
  text-decoration: none;
  background-color: white;
}
.header-content-container .midia img {
  width: 40px;
  background-color: #fcf3f3;
}
.header-content-container a:link {
  color: red;
}
.header-content-container .facebook {
  position: absolute;
  left: 10px;
  top: 23rem;
}
.header-content-container .whatsapp {
  position: absolute;
  z-index: -1;
  left: 10px;
  top: 25.5rem;
}

nav {
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 10px;
  width: 80%;
  height: 50px;
  background: linear-gradient(#EE8A9B, #FFC0CB, #EE8A9B);
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 30px;
  box-shadow: 1px 4px 10px #b6b1b1;
}
nav a {
  text-decoration: none;
  color: inherit;
  transition: 0.4s;
}

#aboutUs {
  width: 100%;
  margin-bottom: 5rem;
  margin-top: 4rem;
}
#aboutUs div {
  width: 80%;
  box-shadow: 2px 2px 10px #b1afaf;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  margin-bottom: 2rem;
  font-family: "Roboto", sans-serif;
}
#aboutUs div h2 {
  margin-bottom: 10px;
  margin-top: 5px;
  color: #474646;
}
#aboutUs div p {
  margin-bottom: 10px;
}
#aboutUs .back {
  margin-top: 2rem;
  margin-left: 10px;
  margin-bottom: 2rem;
}
#aboutUs .back a {
  text-decoration: none;
  color: #EE8A9B;
}

#news {
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 1rem;
  font-family: "Roboto", sans-serif;
}
#news h2 {
  color: #EE8A9B;
  text-align: center;
  padding-bottom: 10px;
  font-weight: 500;
}
#news hr {
  width: 70%;
  margin: 0 auto;
}
#news .news-container {
  width: 100%;
  height: 340px;
  overflow-x: auto;
  display: flex;
  align-items: center;
  margin-top: 0.4rem;
}
#news .news-container .card {
  min-width: 220px;
  height: 300px;
  margin-left: 16px;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 3px 6px 10px #6b6565;
  position: relative;
  transition: 1s;
}
#news .news-container .card img {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}
#news .news-container .card span {
  position: absolute;
  background-color: white;
  padding: 5px;
  right: 0;
  border-radius: 20px;
  top: 3px;
}
#news .news-container .card:last-child {
  margin-right: 5px;
}
#news .news-container::-webkit-scrollbar {
  display: none;
}
#news .filter {
  padding: 10px;
  width: 75%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 0.9rem;
  border-radius: 20px;
  box-shadow: 1px 1px 10px #eceaea;
}
#news .filter button {
  background: none;
  border: none;
  font-size: 16px;
  font-weight: 500;
}
#news .filter button:focus {
  color: #EE8A9B;
}

#lencoShow {
  width: 100%;
  margin-bottom: 3rem;
  transition: 1s;
  font-family: "Roboto", sans-serif;
}
#lencoShow h2 {
  color: #EE8A9B;
  text-align: center;
  padding-bottom: 10px;
  font-weight: 500;
}
#lencoShow hr {
  width: 70%;
  margin: 0 auto;
}
#lencoShow .lencos-container {
  margin-top: 0.4rem;
  display: flex;
  align-items: center;
  overflow-x: auto;
  width: 100%;
  height: 400px;
}
#lencoShow .lencos-container::-webkit-scrollbar {
  display: none;
}
#lencoShow .lencos-card {
  min-width: 225px;
  height: 340px;
  margin-left: 16px;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 1px 6px 10px #6b6565;
}
#lencoShow .lencos-card figure {
  width: 100%;
  height: 100%;
}
#lencoShow .lencos-card figure img {
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 65%;
}
#lencoShow .lencos-card figure figcaption {
  padding: 0 10px;
}
#lencoShow .lencos-card figure figcaption h3 {
  margin-bottom: 10px;
}
#lencoShow .lencos-card figure figcaption span {
  color: green;
}
#lencoShow .lencos-card figure figcaption .social {
  margin-top: 5px;
}

#abanoShow {
  width: 100%;
  margin-bottom: 3rem;
  font-family: "Roboto", sans-serif;
}
#abanoShow h2 {
  color: #EE8A9B;
  text-align: center;
  padding-bottom: 10px;
  font-weight: 500;
}
#abanoShow hr {
  width: 70%;
  margin: 0 auto;
}
#abanoShow .abano-container {
  margin-top: 0.4rem;
  display: flex;
  align-items: center;
  overflow-x: auto;
  width: 100%;
  height: 400px;
}
#abanoShow .abano-container::-webkit-scrollbar {
  display: none;
}
#abanoShow .abano-card {
  min-width: 225px;
  height: 340px;
  margin-left: 16px;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 1px 6px 10px #6b6565;
}
#abanoShow .abano-card figure {
  width: 100%;
  height: 100%;
}
#abanoShow .abano-card figure img {
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 65%;
}
#abanoShow .abano-card figure figcaption {
  padding: 0 10px;
}
#abanoShow .abano-card figure figcaption h3 {
  margin-bottom: 10px;
}
#abanoShow .abano-card figure figcaption span {
  color: green;
}
#abanoShow .abano-card figure figcaption .social {
  margin-top: 5px;
}

#perguntas {
  width: 100%;
  margin-bottom: 5rem;
  height: auto;
  font-family: "Roboto", sans-serif;
}
#perguntas .perg-container {
  border: 1px solid #000;
  border-radius: 8px;
  height: auto;
}
#perguntas .perg-container input[type=radio] {
  display: none;
}
#perguntas .perg-container label {
  display: block;
  border-bottom: 1px solid #000;
  padding: 10px;
  background-color: rgb(161, 52, 70);
  color: #fff;
}
#perguntas .perg-container .pergunta:first-child label {
  border-radius: 5px 5px 0 0;
}
#perguntas .perg-container .pergunta:last-child label {
  border-radius: 0 0 5px 5px;
}
#perguntas .perg-container .perg-content {
  border-bottom: 1px solid #EE8A9B;
  padding: 10px;
  display: none;
}
#perguntas .perg-container input:checked ~ .perg-content {
  display: block;
}/*# sourceMappingURL=style.css.map */