/**  GENERAL STYLE CONFIGURATION***/
* {
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    margin: 0 auto;
}

body {
    position: relative;
    // background: linear-gradient(60deg, #31002b, #240120);

}

// ###############3333 PRELOADER ####################

.preloader {
    background: #fff url(../img/preloader/preloader2.gif) no-repeat;
    background-position: center;
    background-position-y: center;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;


}


@import './header';
@import './navBar';
@import './main';
@import './lightbox';
@import './color';

@mixin fonts() {
    font-family: 'Roboto', sans-serif;
}


@media(min-width:630px) {

    #news,
    #lencoShow,
    #abanoShow {
        width: 90%;
        margin: 0 auto;

    }

    #news {
        h2 {
            margin-top: 4rem;
        }
    }

    #lencoShow {
        h2 {
            margin-top: 2rem;
        }
    }

    #abanoShow {
        h2 {
            margin-top: 2rem;
        }
    }

    #perguntas {
        width: 85%;
        margin: 0 auto;
        margin-bottom: 6rem;

        h2 {
            margin-top: 2rem;
        }

    }

    .header-content-container {
        height: 520px;
    }


}

@media(min-width:760px) {


    .header-content-container {
        height: 500px;
        background: #f0e7e8;

        .hdr-main-content {
            width: 90%;

            display: flex;
            flex-direction: row;
        }

        .style-item {
            z-index: 1;
        }

    }

    .facebook {
        display: none;
    }

}

@media(min-width:920px) {
    nav {
        display: none;
    }

    #desktop-nav {
        width: 30%;
        height: 100%;

    }
    .logo-theme-content{
        width: 85%;
    }

    #desktop-nav ul {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #desktop-nav ul li {
        list-style: none;
    }

    #desktop-nav ul li a {
        text-decoration: none;
        color: #333;
        font-weight: 400;
        transition: ease .5s;
        @include fonts();
    }

    #desktop-nav ul li a:hover {
        text-decoration: none;
        color: $subtitle;
    }
    .header-content-container {

        .hdr-main-content {
            padding: 0;

            .hdr-content {
                margin-top: 40px;
                margin-bottom: 40px;
            }
            .banner {
                height: 85%;
            }
        }
    }
    .swiper {
        width: 85% !important;

    }

}