



/**  GENERAL STYLE CONFIGURATION***/
*{
    margin: 0;
    padding: 0;
}

.container{
    width: 90%;
    margin: 0 auto;
}

body{
    position: relative;
    // background: linear-gradient(60deg, #31002b, #240120);
    
}

// ###############3333 PRELOADER ####################

.preloader{
    background: #fff url(../img/preloader/preloader2.gif) no-repeat;
    background-position: center;
    background-position-y: center;
    height: 100vh;
    width: 100%;
    position: fixed;
    top:0;
    z-index: 100; 

    
}


@import './header';
@import './navBar';
@import './main';



@media(min-width:630px){
    #news,
    #lencoShow,
    #abanoShow{
        width: 90%;
        margin: 0 auto;
        
    }

    #news{
        h2{
            margin-top: 4rem;
         }
    }
    #lencoShow{
        h2{
            margin-top: 2rem;
         }
    }
    #abanoShow{
        h2{
            margin-top: 2rem;
         }
    }
    
    #perguntas{
        width: 85%;
        margin: 0 auto;
        margin-bottom: 6rem;

        h2{
            margin-top: 2rem;
         }
        
    }

    .header-content-container{
       height: 520px;
    }    
   
}

@media(min-width:760px){


    .header-content-container{

        .hdr-main-content{
            width: 90%;
            
            display: flex;
            flex-direction: row;

        }

    }

    .facebook{
        display: none;
    }
    
}


