@import './color';

@mixin subtitulo($cor){
    color: $cor; 
    text-align: center;
    padding-bottom: 10px;
    font-weight: 500;
}

@mixin fonts(){
    font-family: 'Roboto', sans-serif;
}

@mixin cards(){
    border-radius: 10px 10px 10px 10px;
    box-shadow: 1px 5px 10px #888;
}
@mixin horizontalLine(){
    width: 70%;
    margin: 0 auto;
}

// ESTILO GERAL DE PARAGRAFOS INTRODUTORAS DE SECOES
.paragraph{
    font-size: 16px;
    color: #888;
    border-left: 4px solid $subtitle;
    margin-left: 1rem;
    padding: 10px;
    margin-top: 1rem;
}
// ESTILO GERAL PARA OWNER DOS PRODUTOS
.owner{
    font-size: 14PX;
    color: #888 !important;
    margin-bottom: 10px;
}

// SPAN FOR PRODUCT ID
.pid{
    position: absolute;
    top: 10px;
    right: 0;
    background-color: rgb(212, 209, 209);
    border-radius: 100%;
    padding: 5px;
   
}

#aboutUs{
    width: 100%;
    margin-bottom: 5rem;
    margin-top: 4rem;

    div{
        width: 80%;
        box-shadow: 2px 2px 10px #b1afaf;
        border-radius: 10px;
        padding: 10px;
        text-align: center;
        margin-bottom: 2rem;
        font-family: 'Roboto', sans-serif;

        h2{
            margin-bottom: 10px;
            margin-top: 5px;
            color: #474646;
        }
        p{
        margin-bottom: 10px;
        }
    }

    .back{
        margin-top: 2rem;
        margin-left: 10px;
        margin-bottom: 2rem;
        a{
            text-decoration: none;
            color: $subtitle;
        }

    }
}

#news{
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-family: 'Roboto', sans-serif;

    h2{
       @include subtitulo($subtitle);
    }
    hr{
        width: 70%;
        margin: 0 auto;
    }
   

    .news-container{
        width: 100%;
        height: 340px;
        overflow-x: auto;
        display: flex;
        align-items: center;
        margin-top: 0.4rem;
        
        .card{
            min-width: 220px;
            height: 300px;
            margin-left: 16px;
            border-radius: 10px 10px 10px 10px;
            box-shadow: 3px 6px 10px #6b6565;
            position: relative;
            transition: 1s;
            
            
            img{
                width: 100%;
                height: 100%;
                border-radius: inherit;
            }
            span{
                position: absolute;
                background-color: white;
                padding: 5px;
                right: 0;
                border-radius: 20px;
                top: 3px;
            }
                
        }

        .card:last-child{
            margin-right: 5px;
        }
    }

    .news-container::-webkit-scrollbar{
        // width: 0;
        display: none;
    }

    .filter{
        padding: 10px;
        width: 75%;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 0.9rem;
        border-radius: 20px;
        box-shadow: 1px 1px 10px #eceaea;
        

        button{
            background: none;
            border: none;
            font-size: 16px;
            font-weight: 500;
        }
        button:focus{
            color: $subtitle;
        }

    }
   
}

/** LENSO SHOW **/ 

#lencoShow{
    width: 100%;
    margin-bottom: 2rem;
    transition: 1s;
    @include fonts();

    .lencoShow{
        background-color: #eee;
        z-index: 1;
    }
    h2{
        @include subtitulo($subtitle)
    }

    hr{
        @include horizontalLine();

    }
   

    .lencos-container{
        margin-top: 0.4rem;
        display: flex;
        align-items: center;
        height: 400px;
    }

    // .lencos-container::-webkit-scrollbar{
    //     display: none;
    // }
    .swiper{
        width: 100%;
    }
    .swiper-slide{
        min-width: 210px !important;
        height: 290px !important;
    }
    .lencos-card{
        min-width: 210px !important;
        height: 290px !important;
        background: #fff;

        @include cards();

        figure{

            width: 100%;
            height: 100%;
            position: relative;

            img{
                border-radius: 10px 10px 0 0;
                width: 100%;
                height: 50%;
            }

            figcaption{
                padding: 0 10px;
        
                h3{
                    margin-bottom: 6px;
                    margin-top: 10px ;
                    font-size: 20px;
                }
                
                span{
                    margin-top: 10px;
                    color: green;
                }

                .social{
                    margin-top: 5px;
                }
               
               
            }

        }
    }

    
}

/** ABNOS SHOW **/ 

#abanoShow{
    width: 100%;
    margin-bottom: 2rem;

    @include fonts();

    h2{
        @include subtitulo($subtitle)
    }

    hr{
        @include horizontalLine();
    }

    .abanoShow{
        background-color: #eee;
        z-index: 1;
    }

    .abano-container{
        margin-top: 0.4rem;
        display: flex;
        align-items: center;
        // overflow-x: auto;
        // width:100% ;
        height: 400px;
        // z-index: -2;
    }

    // .abano-container::-webkit-scrollbar{
    //     display: none;
    // }
    .swiper{
        width: 100%;

    }

    .abano-card{
        width: 210px  !important;
        height: 290px !important;
        // margin-left: 16px;
        // background-color: #000;

        @include cards();

        figure{

            width: 100% !important;
            height: 100%;
            position: relative;

            img{
                border-radius: 10px 10px 0 0;
                width: 100%;
                height: 50%;
            }

            figcaption{
                padding: 0 10px;
        
                h3{
                    margin-bottom: 10px;
                }
                
                span{
                    color: green;
                }

                .social{
                    margin-top: 5px;
                }
               
               
            }

        }
    }

    
}

#perguntas{
    width: 100%;
    margin-bottom: 6rem;
    height: auto;
    @include fonts();

    h2{
        @include subtitulo($subtitle);
        
    }

    hr{
        @include horizontalLine();
    }
    
    .perg-container{

        border: 1px solid #000;
        border-radius: 8px;
        height: auto;
        margin-top: 2rem;

        input[type="radio"]{
            display: none;
        }
 
        label{
            display: block;
            border-bottom: 1px solid #000;
            padding: 10px;
            background-color: rgb(161, 52, 70); 
            color: #fff;
        }

        .pergunta:first-child label{
            border-radius: 5px 5px 0 0;
            // background-color: #000;
        }

        .pergunta:last-child label{
            border-radius: 0 0 5px 5px;
            // background-color: #000;
        }

        .perg-content{
            border-bottom: 1px solid $subtitle;
            padding: 10px;
            display: none;

        }

        input:checked ~ .perg-content{
            display: block;
        }


    }
    
}

